@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1534330753005-f4d2037a164d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80");
}

.container {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: row;
  background-color: #b9d7df;
}
